<!DOCTYPE html>
<html ng-app="AstroCalculatorApp"> 
	<head>
		<title>Astro Weight Calculator</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>
	
	<body ng-controller="AstroCalculatorCtrl as vm">
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1>Astro Weight Calculator</h1>
				</div>
				<!-- input for user to enter weight -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5" >
							<div id="weight" class="form-group">
								<form>
						 		 	<label>Your Weight</label> 
						 		 	<input class="form-control" type="number" name="weight" id="yourWeight" ng-model="vm.weight">
								</form>
							</div>

							<!-- select for user to select a planet with option elements -->
							<div id="planets" class="form-group">
								<label>
									Select a Planet
								</label>
								<br />
								<select class="form-control" id="planetSelection" ng-model="vm.planet" >
									<option ng-repeat="planet in vm.planets" value={{planet.multiplier}}>{{planet.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1" id="results">
							<h3>Your weight on {{vm.planetName}} would be {{vm.newWeight}} lbs.</h3>
						</div>
					</div>
				</div>
				<!-- button for calculate -->
				<div class="panel-footer">
					<button class="btn btn-primary" id="button" ng-click="vm.calculate()">Calculate</button>
				</div>
				<!-- paragraph element for results -->			
			</div>
		</div>

		
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script src="index.js"></script>
	</body>
</html>